.events-monitor .card {
  height: fit-content; }
  .events-monitor .card .card-header small {
    font-variant: petite-caps; }
  .events-monitor .card .card-header img.avatar {
    border: 0.1px solid rgba(0, 0, 0, 0.3); }
  .events-monitor .card .card-channel[data-hangup] {
    text-decoration: line-through; }
  .events-monitor .card .card-channel .card-channel-actions i {
    vertical-align: middle; }

.shaking, .events-monitor .card .card-channel .card-channel-actions[data-state='Ring']:not([data-hangup]) i, .events-monitor .card .card-channel .card-channel-actions[data-state='Ringing']:not([data-hangup]) i {
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-play-state: running;
  animation-name: shake; }
